
.prediction h2{
  color: white;
  text-align:center;
}

.prediction .pred_link {
  color: pink;
  background-color: transparent;
}

.prediction .pred_link:hover {
  color: red;
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
}

